.container{
  min-height: 70vh;
}

/* .App{
  width: 100%;
  margin: 16em auto;
  background-color: #394049;
  border-radius: 5px;
  color: #fff;
}

.chamada-header{
  padding: 1em;
  border-bottom: 1px solid #2c3035;
  text-align: center;
}

.chamada-header h1{
  margin: 0;
}

.form-chamada{
  padding: 1em;
  margin: 0 2em;
  border-bottom: 1px solid #2c3035;
}

.form-chamada h2{
  text-align: center;
  margin: 1em;
}

.form-control{
  display: flex;
  flex-direction: column-reverse;
  margin-bottom: 1em;
}

.form-control label{
  text-align: center;
  font-weight: bold;
  font-size: 2em;
  margin-bottom: 2em;
  
}

.form-control input{
  border: 1px solid #222;
  border-radius: 2px;
  background-color: #2c3035;
  padding: 2em;
  color: #dfdfdf;
}

input[type="submit"]{
  background-color: #333;
  color: #eee;
  display: block;
  width: 100%;
  border: 1px solid #222;
  border-radius: 5px;
  padding: 2em;
  cursor: pointer;
 
} */